* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: auto;
}

p {
  font-size: 18px;
}

h1 {
  font-size: 70px;
}

.search {
  text-align: center;
  padding: 1rem;
  margin-bottom: 2rem;
}

input {
  padding: 0.7rem 1.5rem;
  font-size: 16px;
  border-radius: 25px;
  border: 1px solid rgba(225, 225, 225, 0.8);
  background: rgba(255, 255, 255, 0.1);
  color: #f8f8f8;
}

::placeholder {
  color: #e5e5e5;
}

.container {
  max-width: 500px;
  height: 680px;
  margin: auto;
  padding: 0 16px;
  position: relative;
  top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top {
  width: 100%;
  margin: 1rem auto;
}

/* .description {
  position: relative;
  right: -90%;
  transform-origin: 0 0;
  transform: rotate(269deg);
} */

.weathericon {
  position: relative;
  right: -85%;
  transform: scale(1.3);
}

.middle {
  display: flex;
  flex-wrap: wrap;
}

.box {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 46%;
  height: 7.5rem;
  margin: 0.6rem auto;
  padding: 1rem;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
}

.box img {
  width: 25px;
  height: 25px;
}

.box p {
  font-size: 13px;
}

p.bold {
  font-size: 20px;
}

.box span {
  font-size: 9px;
}

.bottom {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 97%;
  height: 7rem;
  margin: 0.6rem auto;
  padding: 1rem;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
}

.bottom img {
  width: 25px;
  height: 25px;
}

.bottom p {
  font-size: 17px;
}

.location img {
  width: 25px;
  height: 25px;
}

.bold {
  font-weight: 700;
}

.loading {
  text-align: center;
  font-size: 20px;
}

/* 온도에 따른 배경 */
.weather-container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  overflow: auto;
}

.weather-container::before {
  content: "";
  background: url("./assets/bg.jpg") no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.hot {
  background: url("./assets/hot.jpg") no-repeat center center/cover;
}

.cold {
  background: url("./assets/cold.jpg") no-repeat center center/cover;
}